.outerContainer{
    position: relative;
    height: 50vh;
    width: 50vw;
}
.container{
    
    height: 50vh;
    width: 50vw;
    display: flex;
    overflow: hidden;   
    position: absolute;
    
}
.slidImg{
    width: 30%;
    margin-left: 2.5%;
    transition-delay: 2s;
    transition: transform 2s ease-out;
}
.arrowLeft{
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 100px;
    cursor: pointer;
}
.arrowRight{
    position: absolute;
    right: 0px;
    top: 50%;
    cursor: pointer;

}